<clr-modal [(clrModalOpen)]="visible" [clrModalClosable]="false">
    <h3 class="modal-title">Login</h3>
    <div class="modal-body">
        <form class="login" clrForm>
            <clr-input-container>
                <label>Username</label>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="username"/>
              </clr-input-container>
              <clr-password-container>
                <label>Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="password"/>
              </clr-password-container>
        </form>
    </div>
    <div class="modal-footer">
      <span *ngIf="busy">
          <span class="spinner spinner-inline">
              Logging in...
          </span>
          <span>
              Logging in...
          </span>
        </span>
      <button type="button" class="btn btn-primary" (click)="onLoginClicked()" [attr.disabled]="busy ? true : null">Login</button>
    </div>
  </clr-modal>
  