<clr-main-container>
  <clr-header>
    <div class="branding">
      <a class="logo-and-title"><span class="title">DashPrint</span></a>
    </div>

    <div class="header-nav">

      <a href="javascript://" class="active nav-link nav-text">Print</a>
      <a href="javascript://" class="nav-link nav-text">Slice</a>

    </div>

    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon" (click)="openSettings()">
          <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </clr-header>

  <div class="subnav">
      <ul class="nav">
        <li class="nav-item" *ngFor="let printer of printers">
          <a class="nav-link" [ngClass]="{'active': printer === selectedPrinter}" href="#" (click)="switchPrinter(printer)">{{ printer.name }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="addPrinter()">
                <clr-tooltip>
                  <clr-icon clrTooltipTrigger shape="plus-circle"></clr-icon>
                  <clr-tooltip-content clrPosition="bottom-right" clrSize="sm" *clrIfOpen>
                      <span>Add printer...</span>
                  </clr-tooltip-content>
                </clr-tooltip>
            </a>
        </li>
      </ul>
  </div>

  <div class="content-container">

    <main *ngIf="selectedPrinter" class="content-area" (drop)="onFileDrop($event)"
          (dragenter)="onDragEnter($event)"
          (dragleave)="onDragLeave($event)"
          (dragover)="onDragOver($event)"
          [ngClass]="{'drag-over': dragOver}">

      <div class="modal-backdrop" *ngIf="dragOver"><div id="fileupload-notif">Drop a GCODE file</div></div>

      <h2>
        {{ selectedPrinter.name }}

        <span *ngIf="selectedPrinter.connected" class="label label-success">Connected</span>
        <span *ngIf="selectedPrinter.stopped" class="label label-warning">Disabled</span>
        <span *ngIf="!selectedPrinter.stopped && !selectedPrinter.connected" class="label label-danger">Disconnected</span>
      </h2>

      <div class="btn-group btn-primary">
        <button *ngIf="selectedPrinter.stopped" (click)="startStopPrinter(selectedPrinter, true)" [disabled]="runningEnableDisable" class="btn btn-success">Enable</button>
        <button *ngIf="!selectedPrinter.stopped" (click)="startStopPrinter(selectedPrinter, false)" [disabled]="runningEnableDisable" class="btn btn-warning">Disable</button>
        <button (click)="editPrinter(selectedPrinter)" class="btn btn-outline">Edit</button>
      </div>

      <div *ngIf="selectedPrinter">
        <div class="printer-temperatures card">
          <div class="card-header">Temperatures</div>
          <app-temperatures #temperaturesComponent [printer]="selectedPrinter"></app-temperatures>
        </div>

        <div class="printer-job card">
          <div class="card-header">Print Job</div>
          <app-print-job #printJobComponent [printer]="selectedPrinter" (error)="showErrorMessage($event)"></app-print-job>
        </div>

        <div class="file-manager card">
            <div class="card-header">File Manager</div>
            <app-file-manager #fileManagerComponent (filePrinted)="onFilePrinted($event)" (error)="showErrorMessage($event)"></app-file-manager>
        </div>

        <div class="file-manager card">
          <div class="card-header">Camera</div>
          <app-camera #cameraComponent>
            <div no-camera>No camera set.</div>
            <div with-camera></div>
          </app-camera>
        </div>
      </div>
    </main>


    <main *ngIf="!printers || !printers.length" class="content-area no-printers">
      <h2>No printers</h2>
      <p><button type="button" class="btn btn-primary" (click)="addPrinter()">Add printer...</button></p>
    </main>
  </div>
</clr-main-container>

<ng-template #modals></ng-template>

