.no-printers {
    text-align: center;
    padding-top: 4ex;
}

.printer-switch {
    float: right;
}

.printer-header h2 {
    margin-top: 0;
}

.printer-header h2 span {
    vertical-align: middle;
}

#fileupload-notif {
    text-align: center;
    color: white;
    padding: 20ex;
    font-size: 400%;
    line-height: initial;
}

.card {
    float: left;
    margin-right: 1rem;
    max-width: 500px;
}

app-camera {
    max-width: 500px;
    max-height: 500px;
}
