
#temperatures-graph {
    margin: 1ex;
}

.card-footer .clr-form-control {
    display: inline-block;
    padding: 2ex;
}

.card-footer .clr-input {
    width: 10ex;
    margin-top: 0;
}

#set-temperatures {
    float: right;
    margin-top: 1rem;
}

canvas {
    max-width: 90%;
}
