<div class="card-block">
  <div *ngIf="!printJob">
    <clr-icon shape="info-standard" size="32" class="icon-right"></clr-icon>
    <p>No existing print job.</p>
    <p>Drag & drop a GCODE or pick a file from the File Manager.</p>
  </div>
  
  <div *ngIf="printJob" class="printjob">
    <div><span class="job-param">Job name:</span> {{ printJob.name }}</div>
    <div><span class="job-param">State:</span> {{ printJob.state }}</div>
    <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false" *ngIf="printJob.state == 'Error'">
      <clr-alert-item>
        <span class="alert-text">{{ printJob.error }}</span>
      </clr-alert-item>
    </clr-alert>
    <div *ngIf="printJob.state == 'Running' || printJob.state == 'Paused'"><progress max="100" [value]="100 / printJob.total * printJob.done" [title]="(100 / printJob.total * printJob.done).toFixed(0) + '%'" [attr.data-displayval]="(100 / printJob.total * printJob.done).toFixed(0) + '%'"></progress></div>
    <div *ngIf="printJob.elapsed !== undefined"><span class="job-param">Time elapsed:</span> {{printJob.elapsed | duration }}</div>

    <clr-accordion>
      <clr-accordion-panel>
        <clr-accordion-title>Progress Preview</clr-accordion-title>

        <clr-accordion-content *clrIfExpanded>
          <canvas #gcodePreview id="gcodePreview" width="300" height="300"></canvas>
        </clr-accordion-content>
      </clr-accordion-panel>
      </clr-accordion>
  </div>
</div>
<div class="card-footer">
    <div *ngIf="printJob">
      <button *ngIf="printJob.state == 'Running'" class="btn btn-danger btn-icon" (click)="stopJob()"><clr-icon shape="stop"></clr-icon> Stop</button>
      <button *ngIf="printJob.state == 'Running'" class="btn btn-outline btn-icon" (click)="pauseJob()"><clr-icon shape="pause"></clr-icon> Pause</button>
      <button *ngIf="printJob.state == 'Paused'" class="btn btn-success btn-icon" (click)="resumeJob()"><clr-icon shape="play"></clr-icon> Continue</button>
      <button *ngIf="printJob.state != 'Running'" class="btn btn-success-outline btn-icon" (click)="restartJob()"><clr-icon shape="replay-all"></clr-icon> Restart</button>
    </div>
</div>